<h3>Publications</h3>
<ol>
{% for publication in site.data.publications %}
{% if publication.venue %}
{% assign pubauthors = publication.authors | split: '-'  %}
{% assign venue = site.data.venues[publication.venue] %}
  <li>
    <strong>“<a href="{{publication.url | default: '#'}}">{{publication.title}}</a>”</strong>
    <div style="display: inline-block">
    with 
    <ul class="coauthors">
      {% for pubauthor in pubauthors %}
        {% if pubauthor == page.username %}
          {% continue %}
        {% endif %}
        {% assign author = site.data.authors[pubauthor] %}
        <li><a href="{{author.website}}">{{author.firstname | slice: 0}}. {{author.lastname}}</a></li>
      {% endfor %}
    </ul></div><br/>
    in the <a href="{{venue.url | default: '#'}}">{{venue.name}}</a>, <a href="{{venue.url | default: '#'}}">{{venue.slug}} {{venue.year}}</a>
    {% for meta in publication.meta %}
    <br/>
    <span style="color: {{meta.color | default: 'black'}};">{{meta.icon | default: '-'}} <a href="{{meta.url | default: '#'}}">{{meta.content}}</a></span>
    {% endfor %}
  </li>
{% endif %}
{% endfor %}
</ol>

<h3>Working Papers</h3>
<ol>
{% for publication in site.data.publications %}
{% if publication.venue %}
{% continue %}
{% endif %}
{% assign pubauthors = publication.authors | split: '-' |  %}
  <li>
    <strong>“<a href="{{publication.url | default: '#'}}">{{publication.title}}</a>”</strong>
    <div style="display: inline-block">
    with 
    <ul class="coauthors">
      {% for pubauthor in pubauthors %}
        {% if pubauthor == page.username %}
          {% continue %}
        {% endif %}
        {% assign author = site.data.authors[pubauthor] %}
        <li><a href="{{author.website}}">{{author.firstname | slice: 0}}. {{author.lastname}}</a></li>
      {% endfor %}
    </ul></div><br/>
    {% for meta in publication.meta %}
    <br/>
    <span style="color: {{meta.color | default: 'black'}};">{{meta.icon | default: '-'}} <a href="{{meta.url | default: '#'}}">{{meta.content}}</a></span>
    {% endfor %}
  </li>
{% endfor %}
</ol>
