<table class="info"><tr>
  <td>
    <a href="/">
      <img src="christost.jpg" alt="{{page.author}}" style="max-width: 100%;">
    </a>
  </td>
  <td>
    <h1>{{site.author}}</h1>
    <div>
      <strong>Email:</strong> 
      <div id="email" style="text-align: center; display: inline-block;">
        @microsoft.com
        <div style="float:left; display:inline-block;">
        chtzamos
        <span style="display:none;">mymail</span></div>
      </div>
    </div>

    <div>
      <strong>Phone:</strong>
      <div id="phone" style="text-align: center; display: inline-block;">
        909-1739
        <div style="float:left; display:inline-block;">
        (617)-
        <span style="display:none;">myphone</span></div>
      </div>
    </div>
<!--
    <div>
      <strong>Office:</strong>
      32-G630, <a href="https://www.google.com/maps/place/Ray+and+Maria+Stata+Center,+Cambridge,+MA+02142/">Stata Center</a>
    </div>
-->
    <div>
      <strong>Web:</strong>
      <a href="http://christos.me">christos.me</a>
    </div>
    <b>
    <a href="https://scholar.google.com/citations?user=wB01auEAAAAJ">Google Scholar</a> | 
    <a href="http://dblp.uni-trier.de/pers/hd/t/Tzamos:Christos">DBLP</a> | 
    <a href="https://arxiv.org/a/tzamos_c_1.html">arXiv</a> | 
    <a href="https://github.com/ctzamos/ctzamos.github.io/">Github</a>
    </b>
  </td>
</tr></table>
