<a href="/">
  <img src="me.jpg" alt="{{page.author}}" style="width: 100%; max-width: 250px; border-radius: 50%; box-shadow: 10px   0px 10px -10px rgba(0,0,0,0.5);">
</a>
<h3>{{page.author}}</h3>

<div>
  <strong>Email:</strong> 
  <div id="email" style="text-align: center; display: inline-block;">
    @{{page.emaildomain}}
    <div style="float:left; display:inline-block;">{{page.emailuser}}<span style="display:none;">mymail</strong></div>
  </div>
</div>
 
<div>
  <strong>Phone:</strong>
  <div id="phone" style="text-align: center; display: inline-block;">
    909-1739
    <div style="float:left; display:inline-block;">(617)-<span style="display:none;">myphone</strong></div>
  </div>
</div>

<div>
  <strong>Office:</strong>
  32-G630, <a href="https://www.google.com/maps/place/Ray+and+Maria+Stata+Center,+Cambridge,+MA+02142/">Stata Center</a>
</div>
<div>
  <strong>Web:</strong>
  <a href="http://christos.me">christos.me</a>
</div>
<b>
<a href="https://scholar.google.com/citations?user=wB01auEAAAAJ">Google Scholar</a> | 
<a href="http://dblp.uni-trier.de/pers/hd/t/Tzamos:Christos">DBLP</a> | 
<a href="https://arxiv.org/a/tzamos_c_1.html">arXiv</a> | 
<a href="https://github.com/ctzamos/ctzamos.github.io/">Github</a>
</b>
<hr>
<a href="#about">About</a> | <a href="#research">Research</a> | <a href="#awards-and-honors">Awards</a>