<a href="/">
  <img src="me.jpg" alt="Christos Tzamos" style="width: 100%; max-width: 250px; border-radius: 50%; box-shadow: 10px   0px 10px -10px rgba(0,0,0,0.5);">
</a>
<h3>Christos Tzamos</h3>

<p><i><a href="http://toc.csail.mit.edu/Students">PhD Student at MIT</a></i></p>


<div>
  <span style="font-weight: bold;">Email:</span> 
  <div id="email" style="text-align: center; display: inline-block;">
    @mit.edu
    <div style="float:left; display:inline-block;">tzamos<span style="display:none;">mymail</span></div>
  </div>
</div>
 
<div>
  <span style="font-weight: bold;">Phone:</span>
  <div id="phone" style="text-align: center; display: inline-block;">
    909-1739
    <div style="float:left; display:inline-block;">(617)-<span style="display:none;">myphone</span></div>
  </div>
</div>

<div>
  <span style="font-weight: bold;">Office:</span>
  32-G630, <a href="https://www.google.com/maps/place/Ray+and+Maria+Stata+Center,+Cambridge,+MA+02142/">Stata Center</a>
</div>
<div>
  <span style="font-weight: bold;">Web:</span>
  christos.me
</div>

<hr>
<a href="#about">About</a> | <a href="#research">Research</a> | <a href="#awards-and-honors">Awards</a>