a { color: inherit; border-bottom: 1px dashed #aaa; }
a:hover, a:active, a:focus { color: inherit; text-decoration: none; border-bottom: 1px solid black; outline: none;}
li {padding: 5px 0;}
ul ul li {padding: 0; list-style: square;}
.contact p {
  text-align: left;
}
.coauthorsbr {display: inline;}
@media (max-width:850px){
.coauthorsbr {display: block;}
}
.coauthors, .coauthors li {
  list-style: none;
  display: inline;
  padding: 0;
}
.coauthors li:after {
  content: ", ";
}
.coauthors li:last-child:after {
  content: "";
}
.coauthors li:last-child:before {
  content: "and ";
}
.coauthors li:first-child:before {
  content: "";
}

.fixed {
  position: static;
}
@media (min-width: 768px) {
  .fixed {
    position: fixed;
  }
}
#profilepic {
  width: 100%; 
  max-width: 250px; 
  border-radius: 50%; 
  box-shadow: 10px   0px 10px -10px rgba(0,0,0,0.5);
}
#profilepic:hover, a:active #profilepic, a:focus #profilepic {
	filter: saturate(200%);
	-webkit-filter: saturate(200%);
	-moz-filter: saturate(200%);
	-o-filter: saturate(200%);
	-ms-filter: saturate(200%);
}

.important {
  color: brown;
  font-size: inherit;
  margin: 0;
  font-weight: bold;
  padding-left: 1em;
  text-indent: -1em;
  list-style: none;
  margin-left: -20px;
}
.important:before {
  content: "★";
  padding-right: 5px;
}